<div
  class="fixed top-0 right-0 h-full w-[300px] bg-white shadow-lg border-l border-gray-200 z-50 flex flex-col"
>
  <!-- Header -->
  <div class="flex justify-between items-center p-4 border-b">
    <h2 class="text-lg font-semibold">Cart</h2>
  </div>

  <!-- Content Scroll Area -->
  <div class="p-4 space-y-4 overflow-y-auto flex-1">
    <!-- Header Row -->
    <div
      class="grid grid-cols-3 gap-2 text-sm text-gray-500 font-semibold px-1"
    >
      <span>Picture</span>
      <span class="text-center">Name & Quantity</span>
      <span class="text-right">Total Price</span>
    </div>

    <!-- Cart Items -->
    @for (cartItem of cartItems(); track cartItem._id) {
    <app-cart-item [cartItem]="cartItem" />
    }
  </div>

  <!-- Footer with Total and Checkout -->
  <div class="border-t p-6 space-y-4 bg-white">
    <div class="flex justify-between text-base font-semibold">
      <span>Total:</span>
      <span class="text-green-600 text-lg"> {{ totalPrice() }}$ </span>
    </div>
    <button
      class="w-full bg-green-600 hover:bg-green-700 text-white py-3 rounded text-base font-bold cursor-pointer"
      routerLink="/checkout"
    >
      Checkout
    </button>
  </div>
</div>
